// Variables

// Restated Bootstrap Variables

$white: rgba(240, 234, 214, 1) !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #ED9EAE !default;
$gray-600: #868e96 !default;
$gray-700: #C66376 !default;
$gray-800: #771427 !default;
$gray-900: #4F0010 !default;
$black: #000 !default;

$primary: #9E354A !default;
$secondary: #C66376 !default;
